body {
  font-family: 'Play', sans-serif;
}

.t-black {
  color:black;
}

.t-red {
  color:#FF3100;
}

.link-clear{
  text-decoration: none;
}

.main-title {
  font-size: 150%;
}

.s-title {
  font-size: 125%;
}
